streamlit
pandas
plotly
openpyxl
pdfkit  # you can remove this if PDF export is disabled

arabic_reshaper
python-bidi
matplotlib
google-generativeai

tabulate

fpdf 
streamlit_drawable_canvas 
tempfile
PIL
io
datetime
bidi.algorithm
